* {
    box-sizing: border-box;
}

.app {
    text-align: center;
    height: 100vh;
}

.nav-link {
    margin: 10px;
    padding: 10px;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
}
