.position-space {
  height: 11.666vh;
  width: 8.57142857vw;
  text-align: center;
  outline: solid;
  background-color: #4977eb;
}

.piece {
  width: 60%;
  height: 85%;
  border-radius: 50%;
  margin-left: 20%;
  margin-top: 5%;
  padding: 0px;
  border: solid;
  border-width: 0.4vw;
  border-style: solid;
  border-color: #779bf7;
  cursor: pointer;
}

/* .piece:hover {
  background-color: #bababa !important;
} */
