.game-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.board-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
