.example {
  display: inline;
  color: blue;
  width: 50px;
}

.column-one {
}

.column-two {
}

.column-three {
}

.column-four {
}

.column-five {
}

.column-six {
}

.board {
  display: grid;
  width: 75%;
  grid-template-columns: repeat(6, 16%);
}
