.column {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}

.game-status {
  display: block;
}
